body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    background: #11212D;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    padding: 80px 150px 80px 150px;
    gap: 80px;
}

h1 {
    margin-top: 0;
    font-size: 34px;
    margin-bottom: 0;
    color: #F2E3D5;
}

h2 {
    font-size: 20px;
    margin-top: 0;
    color: #F2E3D5;
}

.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    color: #CCD0CF;
}

span {
    background: #253745;
    color: white;
    width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: box-content;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
}

section div img {
    width: auto;
    height: 30px;
}

#imgContacto {
    width: auto;
    height: 400px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.field-message {
    grid-column: 1 / span 2;
}

.field-message input {
    width: 95%;
    height: 150px;
}

textarea {
    width: 95%;
    height: 120px;
    padding: 12px; 
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: #06141B; 
    color: white;
    font-family: 'Poppins', sans-serif;
    resize: vertical; 
}

h4 {
    margin-bottom: 10px;
    color: #CCD0CF;
}

input {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: #06141B;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.submit-btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    height: 35px;
    width: fit-content;
    font-size: 17px;
    padding: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    background: #253745;
    color: white;
    border: 1px solid rgb(123, 123, 123);
}


@media (max-width: 767px){
    #imgContacto {
        display: none;
    }
    main {
        padding: 30px 40px 30px 40px;
    }
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 20px;
    }
    .contact-container{
        padding-top: 10px;
        padding-bottom: 30px;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    span {
        font-size: 12px;
        font-weight: 500;
        width: fit-content;
        padding-left: 5px;
        padding-right: 5px;
        height: 30px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
    }
    .submit-btn{
        margin-bottom: 40px;
    }
}