body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlacesHeader{
    display: flex;
    gap: 20px;
    position: relative;
    padding-right: 80px;
}

header a {
    position: relative;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

.contenedor_imagen {
    

    /* 1. Ruta de tu imagen y capa oscura para que el texto resalte */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url('../img/photos/foto_fondo.jpg');

    /* 2. Ajustes vitales para que la imagen se vea bien */
    background-size: cover;       /* Ajusta la imagen al espacio sin deformarla */
    background-position: center;  /* Centra la foto */
    background-repeat: no-repeat; /* Evita que la imagen se duplique si el div es grande */
    height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.contenedor_imagen h1{
    font-size: 4rem;
    padding: 0;
    margin:0;

    animation-name: entradaIzquierda;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: 1s;
}
.contenedor_imagen h2{
    font-size: 2rem;
    padding: 0; 

    animation-name: entradaDerecha;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: 1.4s;
}

#descargaCV {
    background: #09f;
    color: white;
    width: 120px;
    height: 30px;
    border-radius:10px;
    border-color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;

    animation-name: entradaIzquierda;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: 2.4s;
}

main section {
    background: rgb(195, 195, 195);
    padding: 40px 70px 40px 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
main section h3 {
    font-size: 48px;
    font-weight: 900;
}

main section p {
    font-size: 30px;
    font-weight: 400;
}

footer {
    position: relative;
    bottom:0;
    left:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightgrey;
    height: 60px;
    width: 100vw;
    background: rgb(42, 42, 42);

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes entradaIzquierda {
    from {
        transform: translateX(-100vw); /* Empieza fuera de la pantalla a la izquierda */
        opacity: 0;                   /* Invisible al inicio */
    }
    to {
        transform: translateX(0);      /* Llega a su posición original (centrado) */
        opacity: 1;                    /* Totalmente visible */
    }
}

@keyframes entradaDerecha {
    from {
        transform: translateX(100vw); /* Empieza fuera de la pantalla a la izquierda */
        opacity: 0;                   /* Invisible al inicio */
    }
    to {
        transform: translateX(0);      /* Llega a su posición original (centrado) */
        opacity: 1;                    /* Totalmente visible */
    }
}

#skills {
    margin: 0;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}
.skillContainer {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 50px;
    width: 700px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.skillContainer:nth-child(3) {
    align-self: flex-end;
}